
.button {
    margin: 10px;
}

.logo {
    font-family: Monoto;
    font-weight: bold;
}

.model {
    height: 75px;
    width: 75px;
    position: fixed;
    bottom: 20vh;
    right: 10px;
    animation: pop 2s 0.5s ease-in-out infinite alternate;
}

.shomepage {
    min-height: 50vh;
    overflow-y: auto;
}

.boxes {
    min-height: 77vh;
    overflow-y: auto;
}

.footer {
    background-color: #c8c8c8;
    color: black;
}

.ad {
    height: 50px;
    width: 95%;
}

.cor-1 {
    background-image: linear-gradient(to right, #b2d18a, #cac57c, #ddb878, #ebab7e, #e0eae0);
}

.cor-2 {
    background-image: linear-gradient(to left, #18b9b9, #00b2e7, #00a1ff, #507eff, #e112eb);
}

.cor-3 {
    background-image: linear-gradient(to right, #ef0e0e, #e27100, #cba500, #b0ce3d, #92f28b);
}

.cor-4 {
    background-image: linear-gradient(to left, #3edddd, #00b2e7, #00a1ff, #507eff, #1738f5);
}

.color-box {
    margin-bottom: 10px;
    text-align: center;
    background-color: skyblue;
    border: 2px #dddddd solid;
}

.color-box:hover {
    background-color: #add8e6 !important;
    color: #333333;
    transform: scale(1.05);
    border: 2px solid;
    box-shadow: 5px 5px 10px 2px #36454f;
    /* border: 2px #333333 solid; */
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.color-box1 {
    margin: 5px;
    background-color: maroon !important;
    color: #ffffff;
    max-height: 52vh;
    overflow: hidden;
    margin-bottom: 10px;
}

.color-box1:hover {
    background-color: #faf6a7 !important;
    transform: scale(1.05);
    transition-duration: 0.5s;
    color: black;
    max-height: 52vh;
    box-shadow: 5px 5px 10px 2px #36454f;
    overflow: hidden;
    border: 1px maroon solid;
    box-sizing: border-box;
}

.color-box1 .color-name1 {
    /* max-height: 7vh; */
    min-height: 60vh;
    transition-property: all;
    transform: translate(0vw, 0vh);
    transition-duration: 2s;
    transition-timing-function: ease-in;
    overflow: hidden;
}

.color-box1:hover .color-name1 {
    background-color: #87ceebe2;
    border: 1px maroon dashed;
    min-height: 60vh;
    transform: translate(0vw, -45vh);
}

.cards-img {
    height: 45vh !important;
}

.rate {
    text-decoration: line-through;
}

/* .container{
    background-image: linear-gradient(to left, #18b9b9, #00b2e7, #00a1ff, #507eff, #e112eb);
} */

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

form {
    border-radius: 10px;
}

.Forget-Password {
    text-align: right;
}

@keyframes pop {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

/* for making a constant baground */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-x: hidden;

    /* CSS-ONLY SCROLL COLOR EFFECT */
    background: linear-gradient(180deg,
            #00d7e6 0%,
            #cc33aa 25%,
            #7a33ff 50%,
            #33ff77 75%,
            #ffd633 100%);
    background-attachment: fixed;
    /* Creates scroll-based color movement */
    background-size: 100% 300%;
    transition: background 0.3s ease-out;
}

h1 {
    text-shadow: 0 0 6px #fff, 0 0 10px #00eaff;
    font-size: 38px;
}

p {
    font-size: 20px;
    text-shadow: 0 0 6px #00eaff;
}